{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <title>Music Platform</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Music Platform</a>
        {% block nav %}{% endblock %}
    </nav>
    <script src="{% static 'js/vue.js' %}"></script>
    {% block content %}{% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>